pyrofork==2.3.45
tgcrypto-pyrofork
pymongo==4.13.2
motor==3.7.1
marshmallow<4.0.0
umongo
requests
bs4
shortzy
pytz
aiohttp

# Youtube & Download tools
yt-dlp
youtube-dl
ytthumb
youtube-search-python==1.6.6
youtube_search

# Other tools
opencv-python-headless==4.8.1.78
python-dotenv==1.0.1
PyLeaves==1.0.2
humanize==4.10.0
Pillow>=10.0.0
psutil
numpy
wheel
ujson
wget
aiofiles
dnspython==2.7.0
python-decouple
ffmpeg-python==0.2.0
jinja2
apscheduler
pyshorteners
pyromod
colorama
fuzzywuzzy
Levenshtein==0.24.0
gTTS
speedtest-cli
openai
hachoir

# Google Translate & Git-based Packages
git+https://github.com/Joelkb/cinemagoer
